.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

/* 네비게이션 (월/연도 선택 영역) */
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  color: #222222;
  min-width: 44px;
  background: none;
  font-size: 16px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

/* 요일 헤더 */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

/* 날짜 타일 */
.react-calendar__tile {
  padding: 10px 6.6px;
  text-align: center;
  border-radius: 6px;
}
.react-calendar__tile--rangeStart:hover,
.react-calendar__tile--rangeStart:focus,
.react-calendar__tile--rangeEnd:hover,
.react-calendar__tile--rangeEnd:focus {
  background: #6f48eb !important;
  color: #fff !important;
}

/* 오늘 */
.react-calendar__tile--now {
  background: #646269;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}

/* 선택된 날짜 */
.react-calendar__tile--active {
  background: #6f48eb;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}

/* 선택 범위 */
.react-calendar__tile--range {
  background: #bfb3e8;
  color: #6f48eb;
}
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background: #6f48eb;
  color: #fff;
}
